$glyphicon-color: #777777;

.facet-values {
  font-size: 12px;

  li {
    .selected {
      color: #222222;
    }
  }

  .remove {
    color: $glyphicon-color;
  }
}

.panel-heading.collapse-toggle .panel-title:after {
  color: $glyphicon-color;
}
