#header-navbar .navbar-brand {
  width: auto;
  height: 100%;
  background-size: 52px;
  text-indent: 70px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  padding: 30px 0;
  background-position-y: center;
}
