.navbar-inverse {
  border-bottom: 4px solid $gold;
}

.navbar-top {
  background-color: $dark-blue;
  font-size: 12px;
}

#header-navbar {
  .navbar-nav {
    @media (min-width: $grid-float-breakpoint) {
      > li {
        > a {
          padding-top: $top-navbar-padding-vertical;
          padding-bottom: $top-navbar-padding-vertical;
        }
      }
    }
  }
  
  .nav-global {
    > li {
      > a {
        padding-top: 30px;
        padding-bottom:30px;
      }
    }
  }
}
