.panel {
  box-shadow: none;
}

.facets {
  .panel-body {
    background-color: $dark-gray;
    border-left: 2px solid $blue;
  }
}

.show-tools > .panel-heading {
  font-size: 20px;
  font-weight: 600;
  color: $black;
}
