$title-margin: 20px;

#documents {
  .document {
    border-bottom: none;

    h1 {
      margin-bottom: $title-margin;
    }

    .document-thumbnail {
      float: left;
    }

    .document-title-heading {
      font-size: 19px;
      margin-bottom: $title-margin;
    }

    .thumbnail {
      height: 100%;
    }
  }
}
