$blue: #4d86a4;
$dark-blue: #437995;
$gold: #c5ad93;
$light-gray: #f5f5f5;
$dark-gray: #e5e5e5;
$white: #ffffff;
$black: #666666;

$brand-primary: $blue;
$bold-font-weight: 600;
$top-navbar-padding-vertical: 5px;
